
$azul1: #03045E;
$azul2: #023E8A;
$azul3: #0077B6;
$azul4: #0096C7;
$azul5: #00B4D8;
$celeste4: #48CAE4;
$celeste3: #90E0EF;
$celeste2: #ADE8F4;
$celeste1: #CAF0F8;
$color-html: #ff8000;
$color-css: #379ad6;
$color-sass: #cd6499;
$color-bs: #523b78;
$color-git: #f05030;
$color-gh: #212529;
$color-js: #e8d44d;
$color-vue: #3fb27e;